<%= form.fields_for :comments do |ff| %>
  <div class="field">
    <%= ff.hidden_field :commenter, :value => @user_id %>
  </div>
  <div class="field">
    <%= ff.text_area :contents, required: :false %>
  </div>
<% end %>

