<div class="ui container">
  <h1>New Issue</h1>
  
  <%= render 'form' %>

  <div class="ui multiple dropdown">
    <input type="hidden" name="issuetags">
    <i class="filter icon"></i>
    <span  class="text">Issue Tags</span>
    <div class="menu">
      <div class="ui icon search input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search tags...">
      </div>
      <div class="divider"></div>
      <div class="header">
        <i class="tags icon"></i>
        Tag Label
      </div>
      <div class="scrolling menu">
        <% Issuetag.all.each do |it| %>
          <div class="item" data-value="<% it.name %>">
            <% it.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to 'Back', @index_path %>
</div>

<script>
  jQuery('#datetimepicker').datetimepicker({defaultTime:'00:00'});
</script>
