<div class="ui container">
  <p id="notice"><%= notice %></p>
  <h1>New Issue</h1>
  
  <%= render 'form' %>

  <%= link_to 'Back', @index_path %>
</div>

<script>
  jQuery('#datetimepicker').datetimepicker({defaultTime:'00:00'});
</script>
