<div class="ui container">
  <div class="ui huge header">샤과밭</div>
  <div class="ui divider"></div>

  <%= link_to courses_path do %><button class="ui button">강좌</button><% end %>
  <%= link_to wiki_path do %><button class="ui button">위키</button><% end %>

  <div class="ui divider"></div>
  <div class="ui center aligned text container">
    <a href="#">신고/제안</a> | <a href="#">이용 수칙</a> | <a href="http://www.snucse.org/">SNUCSE</a>
  </div>
</div>
