<div class="ui container">
  <div class="ui huge header">SLecE</div>
  <div class="ui divider"></div>

  <p>임시 버튼입니다.</p>
  <button class="ui button"><%= link_to '전체 강좌', courses_path %></button>
  <button class="ui button"><%= link_to '위키', wiki_path %></button>

  <p></p>

  <div class="ui divider"></div>
  <div class="ui center aligned text container">
    <a href="#">신고/제안</a> | <a href="#">이용 수칙</a> | <a href="#">SNUCSE</a>
  </div>
</div>
