<div class="ui container">
  <div class="ui huge header">샤과밭</div>

  <p>eTL과의 비교를 거부한다!<p>
  <div class="ui divider"></div>

  <div class="ui container" id="timeline-container">
  </div>

  <div class="ui divider"></div>

  <%= link_to courses_path do %><button class="ui button">강좌</button><% end %>
  <%= link_to wiki_path do %><button class="ui button">위키</button><% end %>

  <div class="ui divider"></div>
  <div class="ui center aligned text container">
    <a href="#">신고/제안</a> | <a href="#">이용 수칙</a> | <a href="http://www.snucse.org/">SNUCSE</a>
  </div>
</div>
<script>
  var timelineContainer = $('#timeline-container')
  var listView = new infinity.ListView(timelineContainer);
  var count = 0;

  function append() {
    var url = "<%= home_load_timeline_path %>";
    var data = { count: count }
    $.get(
      url,
      data,
      function(result) {
        var issues = JSON.parse(result).issues;
        for (var i in issues) {
          var newContent = "<div>" + issues[i].title + "</div>";
          listView.append(newContent);
        }
        count += 1;
      }
    );
  }

  append();
</script>
