<div class="ui container">
  <div class="ui huge header"><%= @title %></div>
  <div class="ui divider"></div>

  <% if /^.*(\(강의\)|\(강의\|(.*)\))$/.match(@title).nil? %>
    <p>이 문서는 아직 없습니다.</p>
    <p>[<%= link_to '새 문서 만들기', new_wiki_page_path(@title) %>]</p>
  <% else %>
    <p><b><%= @title %></b> 문서를 생성할 수 없습니다.</p>
  <% end %>

  <div class="ui divider"></div>
  <%= link_to wiki_path do %>
    <div class="ui button">돌아가기</div>
  <% end %>
</div>
