<div class="ui container">
  <div class="ui large header">위키:대문</div>
  <div class="ui divider"></div>

  <p>
    SNUCMS+ 위키에 오신 것을 환영합니다!<br>
    오늘도 즐거운 창의적 통합 설계되시길 바랍니다.
  </p>

  <div class="ui header">
    <% unless @pages.empty? %>
      모든 문서 목록
    <% end %>
  </div>

  <div class="ui bulleted list">
    <% @pages.each do |page| %>
      <div class="item">
        <%= link_to page.title, wiki_page_path(page.title) %>
        .....................................................
        <%= link_to '삭제', wiki_page_path(page.title), method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' } %>
      </div>
    <% end %>
  </div>

  <div class="ui divider"></div>
  <div class="ui button"><%= link_to '돌아가기', root_path %></div>
</div>
