<div class="ui container">
  <div class="ui huge header">샤과밭 위키:대문</div>
  <div class="ui divider"></div>

  <p>샤과밭 위키에 오신 것을 환영합니다!</p>
  <p>오늘도 즐거운 창.의.적.통.합.설.계.되시길 바랍니다.</p>

  <div class="ui header">
    <% unless @pages.empty? %>
      모든 문서 목록
    <% end %>
  </div>

  <div class="ui bulleted list">
    <% @pages.each do |page| %>
      <div class="item">
        <%= link_to page.title, wiki_page_path(page.title) %>
      </div>
    <% end %>
  </div>

  <div class="ui divider"></div>

  <%= link_to root_path do %>
    <div class="ui button">홈으로</div>
  <% end %>
</div>
