<div class="ui container">
  <div class="ui large header"><%= @page.title %></div>
  <div class="ui divider"></div>

  <p>이 문서는 아직 없습니다.</p>
  <%= link_to '[새 문서 만들기]', edit_wiki_page_path(@page.title) %>

  <div class="ui divider"></div>
  <div class="ui button"><%= link_to 'Back', wiki_path %></div>
</div>
