<div class="ui container">
  <div class="ui divider"></div>
  <div class="ui center aligned text container">
    <a href="http://www.warning.or.kr">신고/제안</a> | <a href="#">이용 수칙</a> | <a href="http://www.snucse.org/">SNUCSE</a>
  </div>
</div>
