<% url_1 = 'http://www.warning.or.kr' %>

<div class="ui container">
  <div class="ui divider"></div>
  <div class="ui center aligned text container">
    <a href="<%= url_1 %>">신고/제안</a> | <a href="#">이용 수칙</a> | <a href="#">도움말</a>
  </div>
</div>
